body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}
h1{
    font-size: 5.31rem;
    color: black;
    margin-top: 50px auto 0 auto;
    width: 9S%;
    margin: 0 auto 0 auto;
    font-family: 'Koulen', cursive;
}

h2 {
    font-size: 2.7rem;
    font-weight: normal;
    color: #F30A49;
    font-family: 'Montserrat', sans-serif;
}


h3{
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    color: green;
}
top-container {
    background-color: #E4F9F5;
    position: relative; 
    padding-top: 100px;
    }
    .middle-container {
    
    }
    .bottom-container {
    
    }

div {
    background-color: #FFD93D;
}

.buttom-bull
{
    position: absolute;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.computer{
    width: 25%;
    float: right;
    margin-right: 30px;
}

.stock{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.film{
    width: 25%;
    float: right;
    margin-right: 30px;
}

.psy{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.rup{
    width: 9%;
    float: left;
    margin-right: 30px;
}

.my{
    width: 9%;
    float: right;
    margin-right: 30px;
}

.l{
border-style: none;
border-top-style: dotted;
border-color: grey;
border-width: 5px; width: 10%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Chart {
        max-width: 40%; 
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Chart {
        max-width: 50%; 
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .Chart {
        max-width: 60%; 
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .Chart {
        max-width: 80%; 
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .Chart {
        max-width: 100%; 
    }
}