/* Extra small devices (phones, 600px and down) */

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}

h1 {
    font-size: 5.31rem;
    color: black;
    margin-top: 50px auto 0 auto;
    width: 95%;
    margin: 0 auto 0 auto;
    font-family: 'Koulen', cursive;
}

h2 {
    font-size: 2.7rem;
    font-weight: normal;
    color: #F30A49;
    font-family: 'Montserrat', sans-serif;
}


h3 {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    color: green;
}

top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.buttom-bull {
    position: absolute;
}


div {
    background-color: #FFD93D;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.computer {
    width: 25%;
    float: right;
    margin-right: 30px;
}

.stock {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.film {
    width: 25%;
    float: right;
    margin-right: 30px;
}

.psy {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.rup {
    width: 9%;
    float: left;
    margin-right: 30px;
}

.my {
    width: 9%;
    float: right;
    margin-right: 30px;
}

.l {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}

.Chart {
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    
    .Chart {
        max-width: 40px;
        max-height: 40px;
    }

    .title {
        font-size: 40px;
    }

}


